@import './components/navbar.css';
@import './layout/grids.css';
@import './components/assets.css';
@import 'root.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section#jumbotron {
    margin-top: 40px;
}

section#About-me {
    margin-top: 60px;
}

section:not(#jumbotron) {
    padding: var(--gap-5);
}